



  <h1>Welcome to your Sinatra App!</h1>
  <p>We played paper!</p>
  <p>They played <%= @comp_move %>!</p>

  <% if @outcome == "won" %>
  <p style="color: green">We <%= @outcome %>!</p>
  <% elsif @outcome == "lost" %>
  <p style="color: red">We <%= @outcome %>!</p>
  <% else @outcome == "tied" %>
  <p style="color: black">We <%= @outcome %>!</p>
  <% end %>

      <h1><a href="/">Home</a></h1>
   <h1><a href="/paper">Refresh</a></h1>



 