



  <h1>Welcome to your Sinatra App!</h1>
  <p>We played rock!</p>
  <p>They played <%= @comp_move %>!</p>
  <p>We <%= @outcome %>!</p>

     <h1><a href="/">Home</a></h1>
   <h1><a href="/rock">Refresh</a></h1>
